.navbar,footer{
  background-color: #2C3E50;
}

.footer-feet{
  background-color: #1A252F;
}
header,.about{
  background-color: #1ABC9C;
}

.icon{
  position: relative;
}

.icon::before{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid white;
  left: -10px;
  top: 50%;
}

.icon::after{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid white;
  right: -10px;
  top: 50%;
}

.about .icon::before{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid white;
  left: 36%;
  top: 50%;
}
.about .icon::after{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid white;
  right: 36%;
  top: 50%;
}

.portfolio .icon{
  position: relative;
}
.portfolio .icon::before{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid black;
  left: 38%;
  top: 50%;
}
.portfolio .icon::after{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid black;
  right: 38%;
  top: 50%;
}

.portfolio-item{
  position: relative;
}
.plus{
  position: absolute;
  background-color: #1ABC9C;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  opacity: 0;
  transition: all 0.3s;
}

.portfolio-item:hover .plus{
  opacity: 0.9;
  cursor: pointer;
}


.contact .icon::before{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid black;
  left: 38%;
  top: 50%;
}
.contact .icon::after{
  position: absolute;
  content: "";
  width: 150px;
  border: 2px solid black;
  right: 38%;
  top: 50%;
}

.send{
  color: white;
  background-color: #1ABC9C;
}
.send:hover{
  border: 1px solid black;
}